<head>
  <title>Flipkart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="navbar-collapse collapse">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="/">
      <img src="static/img/flipkart_Logo.png" alt="Logo" style="width:100px;">
      </a>
    </li>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <li class="nav-item active">
      <form class="form-inline" action="">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for products,brands and more">
        <div class="input-group-prepend">
          <span class="input-group-text"><img src="static/img/search.png" alt="Logo" style="width:20px;"></span>
        </div>
        </div>
      </form>
    </li>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <li class="nav-item active">
        <a class="nav-link" href="/flipperact">+ Flipperact</a>
    </li>
    &nbsp&nbsp
    <li class="nav-item active">
        <a class="nav-link" href="#">More</a>
   </li>
   &nbsp&nbsp
   <li class="nav-item active">
       <a class="nav-link" href="/cart">My Orders</a>
   </li>
   &nbsp&nbsp
   <li class="nav-item active">
       <a class="nav-link" href="/logout">Log out</a>
   </li>
  </ul>
</div>
</nav>
<center>
  <div class="col-md-4">
{% for product in product_information %}
    <img src="static/img/{{product.image}}"><br>
    {{product.title}}<br>
    Rs.{{product.price}}<br>
    <form action = "/buy" method = "POST">
      <input type="hidden" name = "product_id" value = {{product.id}}>
      <input type="submit" class="btn btn-primary" value="Buy">&nbsp&nbsp
    </form>
    <form action = "/refertofriend" method = "POST">
      <input type="hidden" name = "id" value = {{product.id}}>
      <input type="submit" class="btn btn-primary" value="Share"><br>
    </form>
{% endfor %}
</div>
</center>
